label {
  font-size: 14px;
  color: #E1D9D1;
}

knob {
  width: 40px;
  height: 40px;
}

knob .knob-track {
  color: #00a5a7;
  background-color: #363636;
}

knob .knob-head {
  display: none;
}

textbox {
  font-size: 12px;
  width: 72px;
  color: #E1D9D1;
  background-color: transparent;
  border-width: 0px;
  outline-color: none;
  child-space: 1s;
}

textbox:hover {
  background-color: transparent;
  border-width: 0px;
  outline-color: none;
}