label {
  font-size: 14px;
  color: #e1d9d1;
}

knob {
  width: 40px;
  height: 40px;
}

knob .knob-track {
  color: #eceaee;
  background-color: #363636;
}

knob .knob-head {
  display: none;
}

textbox {
  font-size: 12px;
  width: 72px;
  color: #e1d9d1;
  background-color: transparent;
  border-width: 0px;
  outline-color: none;
  child-space: 1s;
}

textbox:hover {
  background-color: transparent;
  border-width: 0px;
  outline-color: none;
}

textbox:checked.caret {
  caret-color: #e1d9d1;
}
